<div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-image">
                    <img>
                    <span class="card-title">name</span>
                </div>
                <div class="card-content">
                    <p style="padding-left: 5px">CONTENT</p>
                </div>
                <div class="card-action">
                    <a href="url" target="_blank">name</a>
                </div>
            </div>
        </div>
</div>