<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <h4 class="text-white">Add or Remove your itinerary</h4>
    </div>
    <div class="container">
        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="add-tab" data-toggle="tab" href="#add" role="tab" aria-controls="add" aria-selected="true">Add</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="remove-tab" data-toggle="tab" href="#remove" role="tab" aria-controls="remove" aria-selected="false">View</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade text-white show active" id="add" role="tabpanel" aria-labelledby="add-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                                <p>You can add your itinerary here</p>
                        </div>
                        <div class="col-12">
                                <form class="form-inline my-2 my-lg-0">
                                        <input class="form-control mr-sm-2" type="search" placeholder="Add Itinerary" aria-label="Add">
                                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><i class="fa fa-plus"></i></button>
                                    </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade text-white " id="remove" role="tabpanel" aria-labelledby="remove-tab">
                You can view, arrange and remove your itinerary here
                <div class="table-responsive-sm">
                        <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Itinirary</th>
                                    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Place 1</td>
                                    <td><button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><i class="fa fa-minus"></i></button></td>
                                  </tr>
                                  <tr>
                                        <th scope="row">2</th>
                                        <td>Place 2</td>
                                        <td><button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><i class="fa fa-minus"></i></button></td>
                                      </tr>
                                      <tr>
                                            <th scope="row">3</th>
                                            <td>Place 3</td>
                                            <td><button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><i class="fa fa-minus"></i></button></td>
                                          </tr>
                                </tbody>
                              </table>        
                    
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="slide-collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
