#navbarToggleExternalContent {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 380px;
    height: 100%;
    overflow: hidden;
    background-color: theme-color("dark");
  }
  .nav-link {
      color: $gray-600;
  }
  
  .nav-link:hover {
    color: $white;
    background-color: theme-color("gray");
  }

  .nav-link .active {
    color: $gray-800;
  }
