@import "node_modules/bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

html, body {
    height: 100%;
    overflow: hidden;
}

#view {
    height: 100%;
    overflow: hidden;
}


@import "navbar/navbar";
@import "map-nav/map-nav";